<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Tamagotchi</title>
  </head>
  <body>
    <h1>Tamagotchi</h1>

    <form action="/tamagotchi" method="post">
      <label for="name">Name</label>
      <input id="name" name="name" type="text">

        <label for="food">Food</label>
        <input id="food" name="food" type="text">

        <label for="Attention">Attention</label>
        <input id="attention" name="attention" type="text">

        <label for="rest">Rest</label>
        <input id="rest" name="rest" type="text">

        <button type="submit" id="feed">Feed</button>
        <button type="submit" id="play">Play</button>
        <button type="submit" id="sleep">Put it to sleep</button>
    </form>

  </body>
</html>