<h1>Tamagotchi Details: </h1>

<h2>@Model.GetName()</h2>
<p>@Model.GetFood()</p>
<p>@Model.GetAttention()</p>
<p>@Model.GetRest()</p>


<p><a href='/tamagotchi/new'>Add another tamagotchi</a></p>
<p><a href='/tamagotchi'>View all tamagotchi</a></p>